
.about-us-box {
    width: 100%; /* Full width */
    max-width: 800px; /* Maximum width of the box */
    min-height: 50vh; /* Minimum height of the box */
    padding: 40px 20px;
    background: linear-gradient(135deg, #5ad139, #ec138a); /* Gradient background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    text-align: center; /* Centered text */
    box-sizing: border-box; /* Include padding in width/height calculations */
    margin-top: 70px;
    margin-bottom: 10px;
}

.about-us-box h2 {
    font-size: 2.5em; /* Larger font size for the title */
    margin-bottom: 30px; /* Increased space below the title */
    color: #0a0a0a; /* Dark color for contrast */
    font-weight: bold; /* Bold font weight */
}

.about-us-box p {
    margin-bottom: 20px;
    font-size: 1.2em; /* Slightly larger font size */
    line-height: 1.6; /* Improved line height for readability */
    color: #020202; /* Soft gray color for text */
}
