@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}

/* Ring Animation */
.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Login Form Styles */
.container {
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  z-index: 1;
}

/* Heading Style */
.container h2 {
  font-weight: 500;
  color: #262626;
  margin-bottom: 20px;
  font-family: 'Billabong', cursive;
  font-size: 3em;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
}

label {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  margin-top: 5px;
}

.input:focus {
  border: 1px solid #a8a8a8;
  outline: none;
}

/* Button Styles */
.button {
  background-color: #3897f0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.button:hover {
  background-color: #2879c2;
}

/* Link Style */
.link {
  color: #3897f0;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

.link:hover {
  text-decoration: underline;
}

/* Paragraph Style */
p {
  color: #8e8e8e;
  font-size: 14px;
  margin-top: 20px;
}
